@using CRM.Core.SystemEnums
@using CRM.Web.Helpers
@using CRM.Core
@using CRM.Web.Models

@model IEnumerable<CRM.Web.Models.LeadViewModel>

@{
    // ViewBag.Title = "ttt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var campaign = LookupHelper.GetCampaigns(Request.Cookies["_culture"]);
}

<style>
    .form-horizontal {
        width: 100%;
    }

    form {
        width: 100%;
    }
    #Kanban_New li {
        border-color: gray;
    }

    #Kanban_InProgress li {
        border-color: goldenrod;
    }

    #Kanban_Completed li {
        border-color: forestgreen;
    }

    #Title_Row {
        margin-top: 10px;
    }

    #buttons_Row {
        margin-bottom: 10px;
        padding-right: 11px;
        padding-left: 11px;
    }
    .btn.active {
        background-color: #666 !important;
        color: white !important;
    }

    .center {
        text-align: center;
    }
    .chart_container{
        height:420px;
    }
    .frmContainer > form{
        display:flex!important;
    }
    .frmContainer {
        margin-left: 10px;
        margin-right: 10px;
    }
    .form-group{
        margin-left: 6px;
    }
    .searchBtn{
        padding-bottom: 6px;
    }
    tr:nth-child(even) {
        background: #FFF
    }
</style>
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@{ 
    var websiteCulture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var floating = "";
    var floating_opposite = "";
    //var floating_right = "";
}

<div class="container-fluid">
    <div class="row" id="Title_Row">
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="d-flex">
                <h4 class="section-title">@Resources.Home.TxtDashboardTitle</h4>
            </div>
        </div><br>
    </div>
    <div class="row" id="buttons_Row">

        <div id="btnContainer" class="group">
            <button type="button" class="btn switch btn-light active" onclick="DashboardView();"><i class="fe-bar-chart"></i></button>
            <button type="button" class="btn switch btn-light " onclick="KanbanView();"><i class="fa fa-th-large"></i></button>
            <button type="button" class="btn switch btn-light" onclick="TableView();"><i class="fa fa-bars"></i></button>
            <button type="button" class="btn switch btn-light " data-toggle="modal" data-target="#NewLeadModal"><i class="fa fa-plus"></i></button>
        </div>
        <div class="frmContainer">
            @using (Html.BeginForm("SearchLeads", "Home", FormMethod.Post, new { role = "form" }))
            {
                <div class="form-group ">
                    @Html.DropDownList("fieldType", ViewData["SearchFieldsList"] as List<SelectListItem>, new { @class = "form-control General-Search-txt chosen-select", required = "required" })
                </div>
                <div class="form-group ">
                    <input class="form-control General-Search-txt" type="text" required name="searchText" id="searchText" placeholder="@Resources.Home.SearchFor" />
                </div>
                <div class="form-group">
                    <input class="btn btn-secondary searchBtn" type="submit" value="@Resources.Home.Search" />
                </div>
            }
        </div>
        <div class="frmContainer">
            @using (Html.BeginForm("Index", "Home",FormMethod.Get))
            {
                <div class="form-group">
                    @Html.DropDownList("CampaignNo", new SelectList(campaign, "Id", "Name"), @Resources.Campaign.AllCampaigns, new { @class = "form-control chosen-select", @required = "true" })
                  
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-secondary" id="searchCamp"><i class="fa fa-filter"></i></button>
                    @*<input class="btn btn-secondary searchBtn" type="submit" value="<i>tt</i>" />*@
                </div>
            }
        </div>
    </div>
    <!-- end page title -->
    <!-- Dashboard -->
    @if (websiteCulture == "ar")
    {

        floating = "float-right";
        floating_opposite = "float-left";

    }
    else
    {

        floating = "float-left";
        floating_opposite = "float-right";

    }
    <!-- Dashboard View-->
    <div id="Leads_DashboardView">
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-lg rounded-circle shadow-lg bg-soft-primary border-primary border">
                                <i class="fe-users font-22 avatar-title text-primary"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span data-plugin="counterup">@ViewData["NewLeads"]</span></h3>
                                <p class="text-muted mb-1 text-truncate">@Resources.Home.New</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-lg rounded-circle shadow-lg bg-soft-warning border-warning border">
                                <i class="fe-shopping-cart font-22 avatar-title text-warning"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span data-plugin="counterup">@ViewData["QualifiedLeads"]</span></h3>
                                <p class="text-muted mb-1 text-truncate">@Resources.Home.Qualified</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-lg rounded-circle shadow-lg bg-soft-success border-success  border">
                                <i class="fe-gift font-22 avatar-title text-success"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span data-plugin="counterup">@ViewData["WonLeads"]</span></h3>
                                <p class="text-muted mb-1 text-truncate">@Resources.Home.Won</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->

            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="avatar-lg rounded-circle shadow-lg bg-soft-danger border-danger border">
                                <i class="fe-shopping-bag font-22 avatar-title text-danger"></i>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="text-right">
                                <h3 class="text-dark mt-1"><span data-plugin="counterup">@ViewData["LostLeads"]</span></h3>
                                <p class="text-muted mb-1 text-truncate">@Resources.Home.Lost</p>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                @*<div id="bar-Chart-Lead"></div>*@
                <div class="card-box chart_container" dir="ltr">
                    <h4 class="header-title mb-3 center">@Resources.Home.LeadsChart</h4>
                    <div id="Stacked-Chart-Lead" style="height: 350px;" class="morris-chart"></div>
                </div> <!-- end card-box-->
            </div>
        </div>
    </div>
    <!-- End Dashboard-->
    <!-- Kanban board View -->
    <div class="row" id="Leads_KanbanView" style="display:none;">
        <div class="col-lg-4">
            <div class="card-box">
                <h4 class="header-title d-flex">@Resources.Home.New</h4><hr>
                <ul id="Kanban_New" class="sortable-list taskList list-unstyled">
                    @foreach (var item in Model)
                    {
                        if (item.Status == GeneralEnums.LeadStatusEnum.New)
                        {
                    <li class="kanban_item">
                        <a href="@Url.Action("LeadInfo", "Home", new { id = item.Id })" class="@floating_opposite btn btn-sm btn-success text-success btn-link font-13">
                            <span class="fa fa-eye"></span>
                        </a>

                        <h5 class="d-flex"> @Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="d-flex">@Html.DisplayFor(modelItem => item.Phone_Number)</p>
                        <p class="d-flex">@Html.DisplayFor(modelItem => item.AssigneeName)</p>
                        <h4 class="lead_Id" style="display:none;">@Html.DisplayFor(modelItem => item.Id)</h4>

                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col d-flex">
                                <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> @Html.DisplayFor(modelItem => item.Created_Date)</p>
                            </div>
                        </div>
                    </li>
                        }
                    }
                </ul>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card-box">
                <h4 class="header-title d-flex">@Resources.Home.InProgress</h4><hr>
                <ul id="Kanban_InProgress" class="sortable-list taskList list-unstyled">
                    @foreach (var item in Model)
                    {
                        if (item.Status == GeneralEnums.LeadStatusEnum.Qualified)
                        {
                    <li class="kanban_item">
                        <a href="@Url.Action("LeadInfo", "Home", new { id = item.Id })" class="@floating_opposite btn btn-sm btn-success text-success btn-link font-13">
                            <span class="fa fa-eye"></span>
                        </a>

                        <h5 class="d-flex"> @Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="d-flex">@Html.DisplayFor(modelItem => item.Phone_Number)</p>
                        <p class="d-flex">@Html.DisplayFor(modelItem => item.AssigneeName)</p>
                        <h4 class="lead_Id" style="display:none;">@Html.DisplayFor(modelItem => item.Id)</h4>

                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col d-flex">
                                <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> @Html.DisplayFor(modelItem => item.Created_Date)</p>
                            </div>
                        </div>
                    </li>
                        }
                    }
                </ul>
            </div> <!-- end card-box -->
        </div> <!-- end col -->

        <div class="col-lg-4">
            <div class="card-box">
                <h4 class="header-title d-flex">@Resources.Home.Won</h4><hr>
                <ul id="Kanban_Completed" class="sortable-list taskList list-unstyled">
                    @foreach (var item in Model)
                    {
                        if (item.Status == GeneralEnums.LeadStatusEnum.Won)
                        {
                    <li class="kanban_item">
                        <a href="@Url.Action("LeadInfo", "Home", new { id = item.Id })" class="@floating_opposite btn btn-sm btn-success text-success btn-link font-13">
                            <span class="fa fa-eye"></span>
                        </a>

                        <h5 class="d-flex"> @Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="d-flex">@Html.DisplayFor(modelItem => item.Phone_Number)</p>
                        <p class="d-flex">@Html.DisplayFor(modelItem => item.AssigneeName)</p>
                        <h4 class="lead_Id" style="display:none;">@Html.DisplayFor(modelItem => item.Id)</h4>

                        <div class="clearfix"></div>
                        <div class="row ">
                            <div class="col d-flex">
                                <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> @Html.DisplayFor(modelItem => item.Created_Date)</p>
                            </div>
                        </div>
                    </li>
                        }
                    }
                </ul>
            </div> <!-- end card-box -->
        </div> <!-- end col -->

    </div>
    <!-- end row -->
    <!-- Table View -->
    <div class="row" id="Leads_tableView" style="display:none;">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <table id="tableLeadsInfo"
                   class="table-borderless"
                   data-search="true"
                   data-toggle="table"
                   data-page-size="10"
                   data-pagination="true"
                   >
                <thead class="card-header" data-background-color="purple">
                    <tr>
                        <th data-sortable="true" class="center">
                            @Resources.Home.Name
                        </th>
                        <th data-sortable="true" class="center">
                            @Resources.Home.Status
                        </th>
                        <th data-sortable="true" class="center">
                            @Resources.Home.Email
                        </th>
                        <th data-sortable="true" class="center">
                            @Resources.Home.Mobile
                        </th>
                        <th data-sortable="true" class="center">
                            @Resources.Campaign.Name
                        </th>
                        <th data-sortable="true" class="center">
                            @Resources.Home.AssigneeUser
                        </th>
                        <th data-sortable="true" class="center">
                            @Resources.Home.Address
                        </th>
                        <th data-sortable="true" class="center">
                            @Resources.Home.CreatedDate
                        </th>
                        <th class="center"></th>
                    </tr>
                </thead>
                <tbody class="ts">
                    @foreach (var item in Model)
                    {
                    <tr class="personInfo" id="TableData">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CampaignName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssigneeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created_Date)
                        </td>
                        <td>
                            <a href="@Url.Action("LeadInfo", new {id = item.Id})" class="btnCommentCase" title="@Resources.SystemCases.BtnDetails"><i class="fa fa-eye text-success"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal add new lead -->
    <div id="NewLeadModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title d-flex">@Resources.Home.CreateLead</h4>
                </div>
                <div class="modal-body d-flex">
                    <!---->
                    @Html.Action("Create", "Home")
                </div>
            </div>
        </div>
    </div>
</div>
<!--Morris Chart-->
<script src="~/Content/assets-new/libs/morris-js/morris.min.js"></script>
<script src="~/Content/assets-new/libs/raphael/raphael.min.js"></script>

<!-- Init js -->
<script src="~/Content/assets-new/js/pages/morris.init.js"></script>
@*<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>*@
<script type="text/javascript">
    var item_id;
    $(document).ready(
        function () {

            $("#Kanban_New, #Kanban_InProgress,#Kanban_Completed").sortable({
                connectWith: ".taskList"
            }).disableSelection();
            $("#Kanban_New").droppable({
                drop: function (event, ui) {
                    item_id = ui.draggable.find('h4').text();
                    console.log(item_id);
                    Status_New(ui.draggable, item_id);
                }
            });
            $("#Kanban_InProgress").droppable({
                drop: function (event, ui) {
                    item_id = ui.draggable.find('h4').text();
                    console.log(item_id);
                    Status_InProgress(ui.draggable, item_id);
                }
            });

            $("#Kanban_Completed").droppable({
                drop: function (event, ui) {
                    item_id = ui.draggable.find('h4').text();
                    console.log(item_id);
                    Status_Completed(ui.draggable, item_id);
                }
            });

        Morris.Bar({
            element: 'Stacked-Chart-Lead',
            data: [
                { y: '@Resources.Home.New', a: @ViewData["NewLeads"] },
                { y: '@Resources.Home.Qualified', a: @ViewData["QualifiedLeads"] },
                { y: '@Resources.Home.Won', a: @ViewData["WonLeads"] },
                { y: '@Resources.Home.Lost', a: @ViewData["LostLeads"] }

            ],
            xkey: 'y',
            ykeys: ['a'],
            labels: [''],
            resize: true,
            xLabelAngle: 45,
        });

   });

    function Status_New(item, id) {
        var Lead = {};
        Lead.Id = id;
        Lead.Status = 1
        $.post("/Home/UpdateLead",
            { Lead: Lead },
            function (data) {
                if (data != null) {
                    //  location.reload();
                } else {
                    alert("Error");
                }
            });
    }
    function Status_InProgress(item, id) {
        var Lead = {};
        Lead.Id = id;
        Lead.Status = 2
        console.log("ppppp");
        $.post("/Home/UpdateLead",
            { Lead: Lead },
            function (data) {
                if (data != null) {
                    //  location.reload();
                } else {
                    alert("Error");
                }
            });

    }
    function Status_Completed(item, id) {
        var Lead = {};
        Lead.Id = id;
        Lead.Status = 3
        $.post("/Home/UpdateLead",
            { Lead: Lead },
            function (data) {
                if (data != null) {
                    //  location.reload();
                } else {
                    alert("Error");
                }
            });
    }
    /* Optional: Add active class to the current button (highlight it) */
    var container = document.getElementById("btnContainer");
    var btns = container.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("btn switch active");
            current[0].className = current[0].className.replace("active", "");
            this.className += " active";
        });
    }
    function TableView() {
        document.getElementById("Leads_tableView").style.display = "flex";
        document.getElementById("Leads_KanbanView").style.display = "none";
        document.getElementById("Leads_DashboardView").style.display = "none";
    };
    function KanbanView() {
        document.getElementById("Leads_tableView").style.display = "none";
        document.getElementById("Leads_KanbanView").style.display = "flex";
        document.getElementById("Leads_DashboardView").style.display = "none";
    };
    function NewLeadForm() {
        document.getElementById("Leads_tableView").style.display = "none";
        document.getElementById("Leads_KanbanView").style.display = "none";
        document.getElementById("Leads_DashboardView").style.display = "none";
    }
    function DashboardView() {
        document.location.reload();
        document.getElementById("Leads_tableView").style.display = "none";
        document.getElementById("Leads_KanbanView").style.display = "none";
        document.getElementById("Leads_DashboardView").style.display = "flex";
    }

</script>

