
@model CRM.Web.Models.LeadActivityViewModel
@{
    var websiteCulture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    var align = "";
    // var mob = "";

    //var Lead_Id =(int)ViewBag.Lead_ID;
}
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
@if (websiteCulture == "ar")
{

    align = "left";

}
else
{

    align = "right";

}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title d-flex">@Resources.Home.ActivityDetails</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-xl-8 col-md-8 col-sm-12">
            <div class="card-box text-center">
                @using (Html.BeginForm("UpdateLeadActivity", "Home", new { id = Model.Id }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="Lead_ID" name="Lead_ID" />
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.Activity_Type, htmlAttributes: new { @class = "d-flex" })
                            @Html.EnumDropDownListFor(model => model.Activity_Type, new { @class = "form-control ActivityTypeSelectList", @required = "true" })
                            @Html.ValidationMessageFor(model => model.Activity_Type, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.Activity_Status, htmlAttributes: new { @class = "d-flex" })
                            @Html.EnumDropDownListFor(model => model.Activity_Status, null, htmlAttributes: new { @class = "form-control ActivityStatusSelectList", @required = "true" })
                            @Html.ValidationMessageFor(model => model.Activity_Status, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.Activity_Date, htmlAttributes: new { @class = "d-flex" })
                            @Html.EditorFor(model => model.Activity_Date, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", @required = "true", @type = "Date" } })
                            @Html.ValidationMessageFor(model => model.Activity_Date, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "d-flex" })

                            @Html.TextAreaFor(model => model.Notes, new { @class = "form-control", type = "TextArea" })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-lg-12" style="text-align:@align">
                            <button type="submit" class="btn btn-primary">@Resources.Home.Save</button>
                            <button type="button" class="btn btn-secondary" onclick="window.history.back();">@Resources.Home.Back</button>
                            

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@{
    var LeadIdForEdit = (int)ViewBag.Lead_ID_ForEdit;
}
<script type="text/javascript">
        $(document).ready(
            function () {

                $("#Lead_ID").val(@LeadIdForEdit);

            }
        );
</script>
