@model List<CRM.Web.Models.Reports.CaseStatisticReport>
@{
    ViewBag.Title = Resources.Reports.UnresolvedCasesByUser;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="section">
        <div class="container-fluid">


            <header class="section-header justify-content-between flex-wrap" id="headerIndex">
                <div class="d-flex">
                    <button class="ml-2 sidebar-toggle d-lg-none"><i class="fa fa-bars"></i></button>
                    <h2 class="section-title">@ViewBag.Title</h2>
                </div>
                <div class="header-form" id="divAddNew_Search">

                   
                </div>
            </header>

            <table class="c-table mb-4">
                <thead class="card-header" data-background-color="purple">
                    <tr>
                        <th>
                            @Resources.Reports.Asignee
                        </th>
                        <th>
                            @Resources.Reports.CassesCount
                        </th>
                        <th>
                            @Resources.Reports.CasesPercent
                        </th>
                    </tr>
                </thead>
                <tbody class="ts">
                    @foreach (var item in Model)
                    {
                        <tr id="TableData">
                            <td>
                                @Html.DisplayFor(modelItem => item.Assignee)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precent)
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </section>

</main>

