@using CRM.Core.Helpers
@model CRM.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = Resources.ForgotPassowrd.Title;
    var imagePage = SettingHelper.GetOrCreate("Background_Image_ForgotPassword_page", "/Content/assets/img/hero.jpg").Value;
}

<div class="hero no-grad">
    <img src="@imagePage" alt="">
</div>

<div class="container">
    <div class="login-box" style="margin-bottom: 10rem;">
        <header>
            <h2>@Resources.ForgotPassowrd.Title</h2>
        </header>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form",@class="pb-2" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label for="Email">@Resources.ForgotPassowrd.TxtEmail</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
    

            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Resources.ForgotPassowrd.SendBtn</button>
            </div>
        }

    </div>
</div>