@model PagedList.IPagedList<CRM.Web.Models.DepartmentViewModel>
@using CRM.Core.SystemEnums
@using PagedList.Mvc
@{
    ViewBag.Title = Resources.Department.Title;
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    int imageNo = (int)GeneralEnums.FileEnum.Image;
}



<style>
    .sel {
        color: black;
        box-sizing: border-box;
        overflow: hidden;
        border: 1px solid #aaaaaa;
        border-radius: 6px;
    }

    .txt {
        padding: 1px 10px;
        background-image: linear-gradient(#eee 20%, #fff 80%);
        box-shadow: 0 1px 0 #fff inset;
        height: 20px;
    }

    .selected {
        background-color: #3875d7;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
        background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
        color: #fff;
    }

    .hide1 {
        display: none;
    }

    .sel .options {
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #aaaaaa;
        border-radius: 5px;
        position: absolute;
        z-index: 5;
    }

        .sel .options div {
            transition: all 0.2s ease-out;
            padding: 10px;
        }

            .sel .options div:hover {
                background-color: #3875d7;
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
                background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
                color: #fff;
            }

    }
</style>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

<main>
    <section class="section">
        <div class="container-fluid">


            <header class="section-header justify-content-between flex-wrap" id="headerIndex">
                <div class="d-flex">
                    <button class="ml-2 sidebar-toggle d-lg-none"><i class="fa fa-bars"></i></button>
                    <h2 class="section-title">@ViewBag.Title</h2>
                </div>
                <div class="header-form" id="divAddNew_Search">

                    <a id="btnCreateDepartment" onclick="ShowCreateForm()" class="btn btn-primary ml-2 disabled" href="#">@Resources.Department.TxtAddNewDepartment</a>
                    @using (Html.BeginForm())
                    {
                        @Html.Hidden("resetTo", 1)

                        @Html.TextBox("searchText", null, new { placeholder = Resources.Layout.TxtSearchFor })
                        <button class="btn btn-secondary" type="submit"><span class="icon-search"></span></button>
                    }
                </div>
            </header>

            <header class="section-header justify-content-between flex-wrap" id="headerEdit" style="display:none">
                <div class="d-flex">
                    <button class="ml-2 sidebar-toggle d-lg-none"><i class="fa fa-bars"></i></button>
                    <h2 class="section-title">@Resources.Department.TxtUpdateDepartment</h2>
                </div>
                <div class="d-flex align-items-start">
                    <span class="ml-2">لغة المحتوى</span>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button id="btnHebrewEdit" type="button" class="btn btn-secondary">@Resources.Department.HebrewContent</button>
                            <button id="btnArabicEdit" type="button" class="btn btn-primary">@Resources.Department.ArabicContent</button>
                        </div>
                    </div>
                </div>
            </header>

            <header class="section-header justify-content-between flex-wrap" id="headerCreate" style="display:none">
                <div class="d-flex">
                    <button class="ml-2 sidebar-toggle d-lg-none"><i class="fa fa-bars"></i></button>
                    <h2 class="section-title">@Resources.Department.TxtAddNewDepartment</h2>
                </div>
                <div class="d-flex align-items-start">
                    <span class="ml-2">لغة المحتوى</span>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button id="btnHebrew" type="button" class="btn btn-secondary">@Resources.Department.HebrewContent</button>
                            <button id="btnArabic" type="button" class="btn btn-primary">@Resources.Department.ArabicContent</button>
                        </div>
                    </div>
                </div>
            </header>

            <input type="hidden" id="LanguageId" name="LanguageId" value="1" />
            <input type="hidden" id="CategoryImageUrl" name="CategoryImageUrl" value="" />

            <div id="CreateDepartment" style="display: none" class="row">
                <div class="col-lg-4 cms-col-header">
                    <h2>
                        @Resources.Department.TxtAddNewDepartment
                    </h2>
                </div>
                <div class="col-lg-8">
                    <form method="post" onsubmit="CreateDepartment()">
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-lg-6">
                                <label for="Name">@Resources.Department.TxtName</label>
                                <input class="form-control" type="text" required name="Name" id="Name" />
                            </div>
                            
                            <div class="form-group col-lg-6">
                                <label for="Description">@Resources.Department.TxtDescription</label>
                                <input class="form-control" type="text" required name="Description" id="Description" />
                            </div>

                            <div class="form-group col-lg-6">
                                <label for="Status">@Resources.Department.TxtStatus</label>
                                @Html.DropDownList("Status", null, string.Empty, new { @class = "form-control chosen-select", required = "required" })
                            </div>
                            

                            <div class="form-group col-lg-12">
                                <button class="btn btn-primary" type="submit" id="btnCreate">@Resources.Department.BtnAdd</button>
                                <button class="btn btn-secondary" id="btnCancel_Add">@Resources.Department.BtnCancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="display: none" id="EditDepartment">
                <div class="col-lg-4 cms-col-header">
                    <h2>@Resources.Department.TxtUpdateDepartment</h2>
                </div>
                <div class="col-lg-8">
                    <form method="post" onsubmit="SaveDepartment()">
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <input type="hidden" id="IdEdit" name="IdEdit" />

                            <div class="form-group col-lg-6">
                                <label for="NameEdit">@Resources.Department.TxtName</label>
                                <input class="form-control" type="text" required name="NameEdit" id="NameEdit" onInput="PreventEnterChartecherNameEdit()" />
                            </div>
                            
                            <div class="form-group col-lg-6">
                                <label for="NameEdit">@Resources.Department.TxtDescription</label>
                                <input class="form-control" type="text" required name="DescriptionEdit" id="DescriptionEdit" onInput="PreventEnterChartecherNameEdit()" />
                            </div>

                            <div class="form-group col-lg-6">
                                <label for="StatusEdit">@Resources.Department.TxtStatus</label>
                                @Html.DropDownList("StatusEdit", null, string.Empty, new { @class = "form-control chosen-select", required = "required" })
                            </div>
                            

                            <div class="form-group col-lg-12">
                                <button type="submit" class="btn btn-primary" id="btnSaveEdit">@Resources.Department.BtnSave</button>
                                <input type="button" class="btn btn-secondary" id="btnCancel_Edit" value="@Resources.Department.BtnCancel" />
                            </div>





                        </div>
                    </form>                    
                </div>
            </div>

            <table id="tableDepartments" class="c-table mb-4">
                <thead class="card-header" data-background-color="purple">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ElementAt(0).Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ElementAt(0).Description)
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="ts">
                @foreach (var item in Model)
                {
                    <tr class="parentDepartment" id="TableData">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.Raw(item.Description)
                        </td>
                        <td>
                            <a href="#" onclick="EditDepartment(@item.Id)" class="btnEditDepartment disabled" title="@Resources.Department.BtnEdit"><i class="fa fa-edit text-dark"></i></a>
                            <a href="#" onclick="Delete(@item.Id)" class="btnDeleteDepartment disabled" title="@Resources.Department.BtnDelete"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @if (Model.PageCount > 0)
            {
                <nav aria-label="Page navigation example" id="divPageing" class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchText = ViewBag.SearchText }))

                </nav>
            }
        </div>
    </section>

</main>

<script type="text/javascript">
    var permission = {};
    $("#btnHebrew").click(function () {
        $("#LanguageId").val(2);
        EditDepartment($("#IdEdit").val());
    });
    $("#btnArabic").click(function () {
        $("#LanguageId").val(1);
        EditDepartment($("#IdEdit").val());
    });

    $("#btnHebrewEdit").click(function () {
        $("#LanguageId").val(2);
        EditDepartment($("#IdEdit").val());
    });
    $("#btnArabicEdit").click(function () {
        $("#LanguageId").val(1);
        EditDepartment($("#IdEdit").val());
    });
    $("#EditDepartment").hide();

    function ShowCreateForm() {
        if (!permission.AllowedPermissonsList.includes("Create")) {
            return;
        }
        $("#CreateDepartment").show();
        $("#btnCreateDepartment").hide();
    }
    function CreateDepartment() {
        if (!permission.AllowedPermissonsList.includes("Create")) {
            return;
        }
        var obj = {};
        obj.ParentId = $("#ParentId").val();
        obj.Status = $("#Status").val();
        obj.Description = $("#Description").val();
        obj.SortOrder = $("#SortOrder").val();
        obj.Icon = $("#iconHidden").val();
        obj.PageId = $("#PageId").val();
        obj.Name = $("#Name").val();
        obj.LanguageId = $("#LanguageId").val();
        //------------------------------------
        obj.AddCategory = $("#AddCategory").is(":checked");
        obj.CategoryParentId = $("#CategoryParentId").val();
        obj.MainImageUrl = $("#CategoryImageUrl").val();

        $.post("/Department/AddDepartment",
            { department: obj },
            function (data) {
                if (data != null) {
                    location.reload();
                } else {
                    alert("Error");
                }
            });
    }

    function EditDepartment(id) {
        if (!permission.AllowedPermissonsList.includes("Edit")) {
            return;
        }
        var languageId = $("#LanguageId").val();
        $.get("/Department/EditDepartment", { id: id, languageId: languageId }, function (data) {
            if (data != null) {
                $("#CreateDepartment").hide();
                $("#EditDepartment").show();
                $("#btnCreateDepartment").hide();

                $("#ParentIdEdit").val(data.ParentId);
                $('#ParentIdEdit').trigger("chosen:updated");
                $("#StatusEdit").val(data.Status);
                $('#StatusEdit').trigger("chosen:updated");
                $("#DescriptionEdit").val(data.Description);
                $("#SortOrderEdit").val(data.SortOrder);
                $("#iconHiddenEdit").val(data.Icon);
                $("#PageIdEdit").val(data.PageId);
                $('#PageIdEdit').trigger("chosen:updated");
                $("#NameEdit").val(data.Name);
                //$("#LanguageId").val(data.LanguageId);
                $("#IdEdit").val(id);
                $('.main-panel').animate({ scrollTop: 0 }, 'slow');

                var cc = data.Icon;
                $('.txt').text($("#viewIconEdit #" + data.Icon + " span").text());
                $("#viewIconEdit #" + data.Icon).addClass('selected');

            }
        });





    }



    function SaveDepartment() {
        if (!permission.AllowedPermissonsList.includes("Edit")) {
            return;
        }
        var obj = {};
        obj.Id = $("#IdEdit").val();
        obj.ParentId = $("#ParentIdEdit").val();
        obj.Status = $("#StatusEdit").val();
        obj.Description = $("#DescriptionEdit").val();
        obj.SortOrder = $("#SortOrderEdit").val();
        obj.Icon = $("#iconHiddenEdit").val();
        obj.PageId = $("#PageIdEdit").val();
        obj.Name = $("#NameEdit").val();
        obj.LanguageId = $("#LanguageId").val();
        $.post("/Department/EditDepartment",
            { department: obj },
            function (data) {
                if (data != null) {
                    location.reload();
                } else {
                    alert("Error");
                }
            });
    }

    function ShowHideCategoryFields(element) {
        if (element.checked) {
            $(".category-field").show();
        } else {
            $(".category-field").hide();
        }

    }

    $("#btnCancel").click(function () {
        if (!permission.AllowedPermissonsList.includes("Create")) {
            $("#CreateDepartment").hide();
            $("#btnCreateDepartment").show();
            $("#EditDepartment").hide();
            return;
        }
        $("#CreateDepartment").show();
        $("#EditDepartment").hide();
    });
    function Delete(id) {
        if (!permission.AllowedPermissonsList.includes("Delete")) {
            return;
        }
        var confirmed = confirm("@Resources.Department.TxtDeleteConfirmationMessage");
        if (confirmed === true) {
            $.post("/Department/DeleteDepartment", { id: id }, function (data) {
                if (data != null) {
                    location.reload();
                }
                else {
                    alert("Error");
                }
            });
        }

    }


    $(function () {
        $.get("/api/accountpermission/IsAccessAllowed?page=Settings", function (data) {
            if (data != null) {
                if (data.HasAccess === true) {
                    permission = data;
                    if (data.AllowedPermissonsList.includes("Create")) {
                        $("#btnCreate").removeClass("disabled");
                    }
                    if (data.AllowedPermissonsList.includes("Create")) {
                        $("#btnCreateDepartment").removeClass("disabled");
                    }
                    
                    if (data.AllowedPermissonsList.includes("Edit")) {
                        $(".btnEditDepartment").removeClass("disabled");
                    }

                    if (data.AllowedPermissonsList.includes("Delete")) {
                        $(".btnDeleteDepartment").removeClass("disabled");
                    }

                }
            }
        }).fail(function (data) {
            alert("Error while validating user permission");
        });
    });




</script>



<script>
    var sel = $('.sel'),
   txt = $('.txt'),
   options = $('.options');
    viewIcon = $("#viewIcon");
    viewIconEdit = $("#viewIconEdit");
    sel.click(function (e) {

        e.stopPropagation();
        viewIcon.show();
        viewIconEdit.show();


    });

    $('body').click(function (e) {

        viewIcon.hide();
        viewIconEdit.hide();
    });

    viewIcon.children('div').click(function (e) {
        e.stopPropagation();
        txt.text($(this).text());
        $(this).addClass('selected').siblings('div').removeClass('selected');
        viewIcon.hide();

        var Id = $('#divIcon .options .selected').attr('id');
        $('#iconHidden').val(Id);
    });


    viewIconEdit.children('div').click(function (e) {
        e.stopPropagation();
        txt.text($(this).text());
        $(this).addClass('selected').siblings('div').removeClass('selected');
        viewIconEdit.hide();
        var Id = $('#divIconEdit .options .selected').attr('id');
        $('#iconHiddenEdit').val(Id);
    });

    $("#btnCancel_Edit").click(function (event) {
        event.preventDefault();
        $("#CreateDepartment").hide();
        $("#EditDepartment").hide();

        $("#tableDepartments").show();
        $("#divAddNew_Search").show();
        $("#divPageing").show();
        $("#headerCreate").hide();
        $("#headerEdit").hide();
        $("#headerIndex").show();
        $("#btnCreateDepartment").show();
    });
    $("#btnCancel_Add").click(function (event) {
        event.preventDefault();
        $("#CreateDepartment").hide();
        $("#EditDepartment").hide();

        $("#tableDepartments").show();
        $("#divAddNew_Search").show();
        $("#divPageing").show();
        $("#headerCreate").hide();
        $("#headerEdit").hide();
        $("#headerIndex").show();
        $("#btnCreateDepartment").show();
    });
</script>