@model CRM.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = Resources.ChangePassword.Title;
}
<style>
    .title {
        text-align: center;
    }
    .card-box{
        margin-top: 16px;
    }
</style>
<div class="container">

        <div class="card-box">
            <input type="hidden" id="LanguageId" name="LanguageId" value="1" />

            @*<div class="row">*@
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12 title">
                    <h4>@Resources.ChangePassword.TxtPleaseEnterPassword</h4></div></div>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label d-flex">@Resources.ChangePassword.TxtCurrentPassword</label>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label d-flex">@Resources.ChangePassword.TxtNewPassword</label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label d-flex">@Resources.ChangePassword.TxtConfirmPassword</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group is-empty">
                            <input type="submit" value="@Resources.ChangePassword.BtnSave" class="btn btn-primary savebtn" />
                        </div>
                    </div>
                    }

                    @*</div>*@


                    <div class="center-text">
                    </div>
                </div>
            </div>

