@model CRM.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = Resources.ChangePassword.Title;
}

<div class="col-md-12 center">
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="purple">
            <div class="nav-tabs-navigation">
                @*<div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title pull-right">@Resources.ChangePassword.Title</span>
                    <ul class="nav nav-tabs" data-tabs="tabs"></ul>
                </div>*@
            </div>
        </div>
        <div class="card-content">
            <input type="hidden" id="LanguageId" name="LanguageId" value="1" />

            <div class="row">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>@Resources.ChangePassword.TxtPleaseEnterPassword</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">@Resources.ChangePassword.TxtCurrentPassword</label>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">@Resources.ChangePassword.TxtNewPassword</label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">@Resources.ChangePassword.TxtConfirmPassword</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            <span class="material-input"></span>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group is-empty">
                            <input type="submit" value="@Resources.ChangePassword.BtnSave" class="btn btn-primary savebtn" />
                        </div>
                    </div>
                }

            </div>


            <div class="center-text">
            </div>
        </div>
    </div>
</div>

